<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6SMZME5BC6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6SMZME5BC6');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Delifood</title>
</head>
<body>
    <header th:fragment="header">
        <div class="header-logo">
            Delifood
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="">Mi perfil</a></li>
                <li><a href="">Comidas</a></li>
                <li><a href="">Planes</a></li>
                <li><a href="">Comprar</a></li>
                <li><a href="">Salir</a></li>
            </ul>
        </nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>
    <main>
        <section >
            <img src="img/bg-psttern.png" alt="">
        </section>
    </main>

</body>
</html>